/* ?Display 768px (md) */

@media screen and (min-width: 768px) {

    /* Main Header */
    .main-header .row {
        flex-direction: row;
    }

    .main-header .row div:last-child {
        order: 1;
    }

    .main-header .new-student {
        text-align: end;
    }

    /* tabella */
    .next-classes .hidden {
        display: table-cell;
    }
}

/* ?Display 992px (lg) */

@media screen and (min-width: 992px) {

    /* HEADER */
    /* Logo */
    #logo .small-logo {
        display: none;
    }

    #logo .big-logo {
        display: block;
        padding-left: 5px;
    }

    /* Icone a destra */
    header .icons .hidden {
        display: inline-block;
    }

    /* SIDEBAR */
    .sidebar {
        flex-basis: 120px;
    }

    .sidebar span {
        display: inline-block;
    }

    /* MAIN-HEADER */
    .main-header .boolean .badge-visible {
        display: none
    }

    .main-header .boolean .badge-hidden {
        display: inline;
    }

}