/* !CSS RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !GENERICS */

img {
    width: 100%;
    height: auto;
}

/* !UTILS */
header {
    height: 60px;
    background-color: aqua;
}

.bot-content {
    height: calc(100vh - 60px);
    overflow: auto;
}

.sidebar {
    background-image: url('../img/sidebar-bg.png');
    background-color: #051e34;
    flex-basis: 60px;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    background-color: blueviolet;
    overflow: auto;
}

/* !MAIN */
/* Main header */
.main-header {
    min-height: 120px;
    background-color: crimson;
}