/* !CSS RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !GENERICS */

img {
    width: 100%;
    height: auto;
    display: block;
}

/* !UTILS */
header {
    min-height: 60px;
}

.bot-content {
    height: calc(100vh - 60px);
    overflow: auto;
}

.sidebar {
    background-image: url('../img/sidebar-bg.png');
    background-color: #051e34;
    flex-basis: 60px;
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    background-color: blueviolet;
    overflow: auto;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}

/* !HEADER */
/* Logo */
#logo .small-logo {
    width: 60px;
}

#logo .big-logo {
    display: none;
}

/* Navbar */
header .navbar form {
    width: 90%;
}

header .navbar input {
    border-color: transparent;
}

/* Icone a destra */
header .icons .hidden {
    display: none;
    color: #5b5858;
}

header .dropdown button {
    border-color: transparent;
    background-color: transparent;
}



/* !MAIN */
/* ?SIDEBAR */
.sidebar a {
    color: white;
}

.sidebar span {
    display: none;
    margin-left: 10px;
}

.sidebar-top li {
    margin-bottom: 1rem;
}


/* ?MAIN HEADER */

.main-header .row {
    flex-direction: column;
}

.main-header .row div:last-child {
    order: -1;
}

/* ?MAIN CONTENT */

.main-content .card {
    margin-bottom: 1.5rem;
}

/* Tabella */
.next-classes th {
    color: #5b5858;
    font-size: 0.81rem;
}

.next-classes img {
    width: 40px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    bottom: 3px;
}

.next-classes .actions i {
    border: 1px solid #6c757d;
    padding: 5px;
    color: #6c757d;
}

.next-classes .actions .fa-trash {
    padding-left: 6px;
    padding-right: 6px;
}

.next-classes .actions i:active {
    background-color: lightgray;
}

.next-classes .hidden {
    display: none;
}



/* Accordion */